@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* acumin pro bold */
/* font-family: "acumin-pro", sans-serif;
font-weight: 700;
font-style: normal; */

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #e0d8bc;
  background: #19231c;

  font-family: "Instrument Serif", serif;

  font-weight: 400;
  font-style: normal;
}
